<h1>Empfohlene Links</h1>
<ul>
	<li><a href="http://www.perl.org/">Perl</a></li>
	<li><a href="http://www.pm.org/">Perl Mongers weltweit</a></li>
	<li><a href="http://www.cpan.org/">Comprehensive Perl Archive Network (kurz: CPAN)</a></li>
	<li><a href="http://search.cpan.org/">Durchsuche CPAN</a></li>
	<li><a href="http://learn.perl.org/">Hilfe und Einsteig in Perl (english)</a></li>
	<li><a href="http://perldoc.perl.org/">Perl Dokumentation</a></li>
	<li><a href="http://www.perlworkshop.de/">Deutscher Perl Workshop</a></li>
	<li><a href="http://www.perlarchive.com/">The Perl Archive</a></li>
</ul>